<div class="flex flex-col w-2/3">
  <gr-page-header pageHeader="Entity Types"></gr-page-header>
  <div class="border-b border-gray-200 w-full mt-6"></div>
  <div class="flex flex-row justify-between items-center mt-8">
    <input type="text" placeholder="Search" class="bg-white py-2 rounded-md w-72 border border-gray-200" />
    <button type="button" class="bg-blueDS-500 text-white py-2 rounded-md w-28 hover:bg-blueDS-400">Add Field</button>
  </div>
  <gr-table-with-input [dropdownOptions]="ownershipTypes" [tableData]="entityTypes" [editAction]="true" [deleteAction]="true"></gr-table-with-input>
</div>