<div class="bg-white shadow rounded-lg px-8 py-6 w-2/3">
  <div class="divide-y-2 divide-gray-200">
    <div class="flex flex-col gap-6 w-1/2 mb-8">
      <gr-input-block label="Company Name" [isHorizontal]="true" [setLabelWidth]="'1/2'" [setInputWidth]="'1/2'" [value]="'GREENROCK FINANCIAL GROUP, LLC.'"></gr-input-block>
      <gr-input-block label="Business Address" [isHorizontal]="true" [setLabelWidth]="'1/2'" [setInputWidth]="'1/2'" [value]="'7065 Westpoint Blvd.'"></gr-input-block>
      <gr-input-block label="Second Address" [isHorizontal]="true" [setLabelWidth]="'1/2'" [setInputWidth]="'1/2'" [value]="'Suite 309'"></gr-input-block>
      <gr-select-block label="State" [isHorizontal]="true" [setLabelWidth]="'1/2'" [setSelectWidth]="'1/2'" [options]="['Florida']"></gr-select-block>
      <gr-input-block label="City" [isHorizontal]="true" [setLabelWidth]="'1/2'" [setInputWidth]="'1/2'" [value]="'Orlando'"></gr-input-block>
      <gr-input-block label="Zip Code" [isHorizontal]="true" [setLabelWidth]="'1/2'" [setInputWidth]="'1/2'" [value]="'32 835'"></gr-input-block>
      <gr-input-block label="Email Address" [isHorizontal]="true" [setLabelWidth]="'1/2'" [setInputWidth]="'1/2'" [value]="'contact@greenrockfinancial.com'"></gr-input-block>
      <gr-input-block label="Contact Phone" [isHorizontal]="true" [setLabelWidth]="'1/2'" [setInputWidth]="'1/2'" [value]="'(407) 378-6548'"></gr-input-block>
    </div>
    <div class="grid pt-4 justify-items-end">
      <div class="flex gap-8">
        <button type="button" class="bg-white text-gray-500 py-2 rounded-md w-24 border border-gray-200">Cancel</button>
        <button type="button" class="bg-blueDS-500 text-white py-2 rounded-md w-24 hover:bg-blueDS-400">Save</button>
      </div>
    </div>
  </div>
</div>