<div class="mt-6 bg-white w-[98%] mx-auto cursor-pointer p-8 border-2 border-gray-300 rounded-lg border-dashed text-2xl flex items-center flex-col">
  <img src="../../../../../assets/greenrock-logo.PNG" class="h-48 w-48 m-2">
  <div class="self-center flex items-center flex-col">
    <div><span class="text-blueDS-500 font-[500]">Upload a file</span> <span class="text-gray-600 font-[500]"> or drag and drop</span></div>
    <span class="text-gray-500 font-[500] uppercase">PNG, JPG, GIF up to 10MB</span>
  </div>
</div>