<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg mt-4">
  <table class="min-w-full divide-y divide-gray-300 table-auto">

    <thead class="bg-gray-50">
      <tr>
        <ng-container *ngFor="let data of tableData[0] | keyvalue: unsortKeyValue; let i = index">
          <th [ngClass]="i !== 0 && i !== 1 ? 'text-center' : 'min-w-[200px]'" class="font-[500] px-6 py-4 text-left text-sm text-gray-900 uppercase">{{ data.key | camelCaseToTitleSeperatedCase }}</th>
        </ng-container>
        <ng-container *ngFor="let action of actionColumns">
          <th *ngIf="action" scope="col" class="px-6 py-4 text-center w-40"> <span class="sr-only">Header for action columns</span> </th>
        </ng-container>
        <th *ngIf="editAction" scope="col" class="px-6 py-4 text-center w-32"> <span class="sr-only">Header for Edit</span> </th>
        <th *ngIf="deleteAction" scope="col" class="px-6 py-4 text-center w-32"> <span class="sr-only">Header for Delete</span> </th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200 bg-white">
      <ng-container *ngFor="let rows of tableData | slice : startSlice  : endSlice">
        <tr>
          <ng-container *ngFor="let data of rows | keyvalue: unsortKeyValue; let i = index">
            <td *ngIf="i === 0" class="text-gray-900 font-[500] px-6 py-4 text-sm"><input type="text" [value]="data.value" class="mt-1 block min-w-[200px] px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-blueDS-500"></td>
            <td *ngIf="i === 1 && dropdownOptions.length > 0 " class="text-gray-900 font-[500] px-6 py-4 text-sm"><select [value]="data.value" class="flex mt-1 border-slate-300 rounded-md placeholder-slate-400
              focus:border-blueDS-400 focus:ring-1 focus:ring-blueDS-500 cursor-pointer min-w-[200px]">
                <ng-container *ngFor="let option of dropdownOptions">
                  <option [selected]="option === data.value">{{option}}</option>
                </ng-container>
              </select>
            </td>
            <td *ngIf="i !== 0 && i !== 1" class="px-6 py-4 text-sm text-gray-500 text-center">{{ data.value }}</td>
          </ng-container>

          <ng-container *ngFor="let action of actionColumns">
            <td class="px-6 py-4 text-sm text-center w-40">
              <span (click)="customAction(action, rows)" class="text-blueDS-500 hover:text-blueDS-400 cursor-pointer font-[400]">{{ action }}</span>
            </td>
          </ng-container>

          <td *ngIf="editAction" class="px-6 py-4 text-sm text-center w-32">
            <span (click)="rowEdit(rows)" class="text-blueDS-500 hover:text-blueDS-400 cursor-pointer font-[400]">Edit</span>
          </td>

          <td *ngIf="deleteAction" class="px-6 py-4 text-sm text-center w-32">
            <span (click)="rowDelete(true)" class="text-red-600 hover:text-red-400 cursor-pointer font-[400]">Delete</span>
          </td>

        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<gr-pagination [dataCount]="this.tableData.length" [itemsPerPage]="itemsPerPage" (setPageToDisplay)="setItemsDisplay($event)"></gr-pagination>